<!-- Adapted from @TonyCrane -->
{% extends "main.html" %}

{% block extrahead %}
  <link rel="stylesheet" href="{{ 'stylesheets/card-holo.css' | url }}" />
  <script src="{{ 'javascripts/card-holo.js' | url }}" defer></script>
  <style>
    body[data-md-color-scheme="slate"] {
      background-color: #0d0d0d;
    }
    @media screen and (min-width: 1220px) {
      .sidebar_nav {
        height: 0 !important;
      }
    }
    #app {
      position: absolute;
      right: calc(35% - 320px / 2);
      top: calc(50% - 445.68px / 2);
    }
    @media (max-width: 960px) {
      #app {
        display: none;
      }
    }
    .md-main {
      display: flex;
      flex-direction: column;
    }
    .md-main__inner {
      flex: 1;
      display: flex;
      margin-top: 1.5rem;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;
    }
    .md-content {
      flex-grow: initial;
    }
    .md-content__inner {
      margin: 0 !important;
    }
    .md-header--shadow {
      box-shadow: none !important;
    }
  </style>
{% endblock %}

{% block site_nav %}
  <div style="flex-grow: 1;">
    <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation">
      <div class="md-sidebar__scrollwrap sidebar_nav">
        <div class="md-sidebar__inner">
          {% include "partials/nav.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="app" class="holo-card" aria-hidden="true">
    <div class="holo-card__inner">
      <img class="holo-card__img" src="{{ 'images/card.png' | url }}#only-dark" alt="" width="660" height="921" loading="lazy" />
      <img class="holo-card__img" src="{{ 'images/card.light.png' | url }}#only-light" alt="" width="660" height="921" loading="lazy" />
      <div class="holo-card__foil"></div>
      <div class="holo-card__foil holo-card__foil--2"></div>
      <div class="holo-card__glare"></div>
    </div>
  </div>
  <div class="md-typeset" style="display: block; background-color: transparent; font-size: 125%;">
    <div class="md-grid">
      <div style="margin-left: 3rem;margin-bottom: 7rem">
        {{ page.content }}
      </div>
    </div>
  </div>
{% endblock %}
