{% extends "base.html" %}

{% block site_nav %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->
  {% if page.toc and not "toc.integrate" in features %}
    <script src="https://cdn.jsdelivr.net/gh/RonaldLN/MyPamphlet-Blog@main/docs/javascripts/toc.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/RonaldLN/MyPamphlet-Blog@main/docs/stylesheets/fold_toc.css">
  {% endif %}
{% endblock %}
