
.card {

  --glitter: url("../../img/glitter.png");
  --glittersize: 25%;
  --imgsize: cover;

}

.card__shine,
.card__glare {

  will-change: transform, opacity, background-image, background-size,
    background-position, background-blend-mode, filter;

}
